/* line 1, ../../scss/charts.scss */
body {
    font: 12px Arial;
}

/* line 5, ../../scss/charts.scss */
path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

/* line 11, ../../scss/charts.scss */
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
